---
---

@import "bootstrap";

img {
  margin-bottom: 24px;
  margin-top: 17px;
  border-radius: 2%;
}

body {
  padding-top: 70px;
  background-color: var(--body-bg);
  color: var(--body-color) !important;
  font-weight: 300;
}

figcaption {
  text-align: right;
  margin-top: -20px;
  margin-bottom: 20px;
}

/* Top navigation bar */

p.byline {
  text-align: center;
  font-size: 18px;
  line-height: 36px;
  margin-top: -24px;
  margin-bottom: 48px;
}

pubtit {
  font-weight: bold;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px; /* or 950px */
  //   margin-bottom: 50px;
}

.container-fluid #gridid {
  margin-bottom: 50px;
}

/* Home, News */
#newsid p {
  text-align: left;
}

#homeidtmp h1 {
  text-align: center;
}

#newsid img {
  margin-top: 6px;
  margin-bottom: 6px;
}

#homeid {
  margin-top: 10px;
  margin-bottom: 40px;
}
#newsid {
  margin-top: 30px;
}

/* Team & Publications */
#team img {
  margin: 16px 22px 6px 0;
  border-radius: 10%;
  box-shadow: 2px 2px 5px #888888;
}
#homeid img {
  margin: 0 0 0 0;
  border-radius: 5%;
  box-shadow: 0px 0px 0px #888888;
}
#picid img {
  margin: 6px 3px 60px 6px;
  border-radius: 1%;
  box-shadow: 2px 2px 5px #888888;
}
#team .row {
  margin-bottom: 24px;
}

/* Grid overrides */
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
  padding-left: 16px;
  padding-right: 16px;
}

/* Grid overrides */
.col-sm-4 {
  padding-left: 26px;
  padding-right: 26px;
}

/* Carusel */

.carousel {
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

#darkModeToggle {
  margin-top: 15px;
  border-width: 0px;
  background-color: var(--navbar-default-bg);
}

#darkModeToggle:hover {
  color: var(--link-color);
}

#gridid img {
  margin: 16px 22px 6px 0;
  border-radius: 10%;
  box-shadow: 2px 2px 5px #888;
}
.post {
  padding: 0 20px;
}

.post-wrapper {
  padding-top: 40px;
  margin-bottom: 50px;
}

.post-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-meta {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.post-content p::first-letter {
  font-size: 5.5rem;
  line-height: 1rem;
  color: var(--link-color);
}

.post-content {
  width: 70%;
  min-width: 400px;
  padding-right: 30px;
}

.post-image {
  width: 30%;
  min-width: 300px;
  display: flex;
}

.post-image img {
  width: 100%;
  object-fit: scale-down;
}

.nav-button {
  padding: 2px 10px;
  margin-top: 1px;
  border-bottom-width: 3px;
  font-weight: 400;
  color: var(--link-color);
}

.year-button {
  padding: 2px 10px;
  margin-top: 1px;
  border-bottom-width: 3px;
  margin-right: 2px;
  margin-left: 2px;
}

.home-pi{
  color: var(--link-color);
}

.smallcaps{
  font-variant: small-caps
}

.flex{
  display: flex;
}

/* Add this CSS to your stylesheet */
@keyframes fadeInOut {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutIn {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateX(-20px);
  }
}

.publi_div {
  animation: fadeInOut 0.4s ease-in-out;
}

.publi_div.hide {
  animation: fadeOutIn 0.4s ease-in-out;
}
