<h4 class="smallcaps">
  <i class="fas fa-share-alt"></i> Fundings
</h4>

<div class="flex-container">
    {% for image in site.static_files %} 
        {% if image.path contains '/images/logos' %} 
        <img src="{{ site.url }}{{ site.baseurl }}{{ image.path }}" style="height: 40px" /> 
        {% endif %}
   {% endfor %}
  </div>
  
  
<style> 
    .flex-container{  
      padding-top: 20px;
      display: flex;
      flex-wrap: wrap ;
      justify-content: space-around;
    }
</style>
    